*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --fundo: #171738;
  --font: #DFF3E4;
  --border: #7180B9;
  --bgFont: #2E1760;
  --darkFont:#3423A6;
}

body{
  background: linear-gradient(270deg, #171738, #7180b9, #2e1760, #3423a6);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 42s ease infinite;
  -moz-animation: AnimationName 42s ease infinite;
  animation: AnimationName 42s ease infinite;
  height: 100vh;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  background-color: var(--bgFont);
  width: 100%;
  justify-content: center;
  text-align: center;
  color: var(--font);
  padding: .6rem;
}

section{
  background-color: var(--border);
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: .8rem;
  margin: 5rem;
  padding: 3rem;
}

label{
  color: var(--font);
  font-size: 1.2rem;  
}

.input{
  padding: .4rem;
  border: none;
  border-radius: .5rem;
  margin-bottom: .6rem;
}

.btn{
  background-color: var(--bgFont);
  color: var(--font);
  border: none;
  border-radius: .6rem;
  margin: .7rem;
  padding: .4rem;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--fundo);  
  border: 1px solid var(--font);
}

footer{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 100vh;
  background-color: var(--bgFont);
  color: var(--font);
}